#Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
.flattened-pom.xml

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env

# Plugin directory
/.quarkus/cli/plugins/

# Terraform (IaC)
infra/terraform/**/.terraform/*
infra/terraform/*.tfstate
infra/terraform/*.tfstate.*
infra/terraform/crash.log
infra/terraform/crash.*.log
#infra/terraform/*.tfvars
infra/terraform/*.tfvars.json
infra/terraform/override.tf
infra/terraform/override.tf.json
infra/terraform/*_override.tf
infra/terraform/*_override.tf.json
infra/terraform/.terraform.tfstate.lock.info
infra/terraform/.terraformrc
infra/terraform/terraform.rc

#my
infra/k8s/aks-context.sh
# infra/k8s/create-all.sh
# infra/k8s/delete-all.sh